<div *ngFor="let item of cart; let i = index">
  <div class="row thumbnail-bg">
    <div class="col-6">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
          <div class="row">
            <img
              src="/assets/fruits/{{ item.imageUrl }}.png"
              alt="{{ item.name }}"
              class="img-thumbnail"
            />
          </div>
        </div>
        <div class="col-sm-4 hidden-xs">
          <div class="row">
            <h4>Item: {{item.name}}</h4>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs">
          <div class="row">
            <h4>Quantity: {{ item.quantity }}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <button class="btn btn-light" (click)="onRemove(i)">Remove</button>
      </div>
    </div>
  </div>
</div>
