<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .cryptotable {
        width: 20vw;
        border: 1px black solid;
        padding: 10px;
      }

      .center-it {
        width: 100vw;
        /* height: 100vh; */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container {
        display: flex;
        justify-content: space-around;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align:center">Cryptocurrency Dashboard</h1>
    <h2><span data-th-text="${name}"></span>'s Crypto Watchlist</h2>

    <div class="container">
      <div>
        <h1>Top <span data-th-text="${number}"></span> Cryptocurrencies</h1>

        <form method="POST" action="/crypto/top">
          Limit: <input type="text" name="limit" size="20" placeholder="limit" required />
          Symbol: <input type="text" name="tsym" size="20" placeholder="tsym" required />
          <button type="submit">Retrieve Cryptocurrencies</button>
          <!-- </div> -->
        </form>

          <div data-th-each="c: ${currenciesData}">
          <table>
            <tr>
              <td>Rank</td>
              <td>Asset</td>
              <td>Price</td>
              <td>Market Cap</td>
              <td>Volume</td>
              <td>Open Day</td>
              <td>High Day</td>
              <td>Low Day</td>
            </tr>
              <td data-th-text="${c.rank}">
              </td>
              <td data-th-text="${c.getAsset()}" >
              </td>
              <td data-th-text="${c.price}">
              </td>
              <td data-th-text="${c.marketCap}">
              </td>
              <td data-th-text="${c.volume}">
              </td>
              <td data-th-text="${c.openDay}">
              </td>
              <td data-th-text="${c.highDay}">
              </td>
              <td data-th-text="${c.lowDay}">
              </td>
            </tr>
          </table>
        </div>

      </div>

      <div>
        <div>
          <h1>Cryptocurrency</h1 >
            <form method="GET" action="/crypto/coin">
              Ticker Symbol: <input type="text" name="ticker" size="20" placeholder="ticker" required />
              Symbol: <input type="text" name="tsym" size="20" placeholder="tsym" required />
              <button type="submit">Retrieve Cryptocoin</button>
              <!-- </div> -->
            </form>

            <p>Price: <span data-th-text="${coinPrice}"></span></p>
        </div>
        
        <h1>Add to watchlist</h1>
          <table>
            <tr>
              <td class="cryptotable">
                <h3>Crytocurrencies</h3>
              </td>

              <td>
                <form method="POST" action="/addwatchlist">
                    <label for="item">Watchlist:</label>
                    <input
                      type="text"
                      name="coinwl"
                      size="20"
                      placeholder="Ticker Symbol"
                      required
                    />
                    <button type="submit">Add to watchlist</button>
                </form>
              </td>
            </tr>
          </table>
      </div>
    </div>
  </body>
</html>
